*{
	box-sizing: border-box;
}

$font-fam-serif: 'Sumana', serif;
$font-fam-sans: 'Assistant', sans-serif;

$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;

// COLORS
$colors:(
	gray1: #F4F4F4,
	gray2: #DFDFDF,
	gray3: #808080,
	gray4: #747474,
	white: #FFFFFF,
);

@function color($name){
	@return map-get($colors, $name);
}

//RESPONSIVE
$breakpoints: (
	tablet: 425px + 1px,
	desktop: 768px + 1px,
);

// lAYOUT
$sizes: (
	xs: 5px,
	sm: 20px,
	md: 30px,
	lg: 60px,
	xl: 200px,
);

$sides: (
	t: top,
	b: bottom,
	l: left,
	r: right,
);

$body-max-width: 1024px;


/* latin */
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Assistant'), local('Assistant-Regular'), url(fonts/Assistant-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Sumana';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Sumana'), local('Sumana-Regular'), url(fonts/Sumana-400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.f-serif {
	font-family: $font-fam-serif;
}

.f-sans {
	font-family: $font-fam-sans;
}


.f-sm {
	font-size: $font-size-sm;
}

.f-xs {
	font-size: $font-size-xs;
}

.f-md {
	font-size: $font-size-md;
}

.f-lg {
	font-size: $font-size-lg;
}


//loop overmap to get colors.
@each $key, $value in $colors {
	.#{$key} {
		color: $value;
	}
	.bg-#{$key} {
		background-color: $value;
	}
}

//loop over map to get padding and margin sizes.
@each $key, $value in $sizes {
	.m-#{$key}{
		margin: $value;
	}
	.p-#{$key}{
		padding: $value;
	}
	.m-v-#{$key}{
		margin-top: $value;
		margin-bottom: $value;
	}
	.m-h-#{$key}{
		margin-right: $value;
		margin-left: $value;
	}
	.p-v-#{$key}{
		padding-top: $value;
		padding-bottom: $value;
	}
	.p-h-#{$key}{
		padding-right: $value;
		padding-left: $value;
	}
	@each $sideName, $side in $sides{
		.m-#{$sideName}-#{$key}{
			margin-#{$side}: $value !important;
		}
		.p-#{$sideName}-#{$key}{
			padding-#{$side}: $value !important;
		}
	}

	@each $breakpointName, $breakpoint in $breakpoints{
		@media (min-width: #{$breakpoint}) {

			.m-#{$key}--#{$breakpointName}{
				margin: $value;
			}
			.p-#{$key}--#{$breakpointName}{
				padding: $value;
			}
			.m-v-#{$key}--#{$breakpointName}{
				margin-top: $value;
				margin-bottom: $value;
			}
			.m-h-#{$key}--#{$breakpointName}{
				margin-right: $value;
				margin-left: $value;
			}
			.p-v-#{$key}--#{$breakpointName}{
				padding-top: $value;
				padding-bottom: $value;
			}
			.p-h-#{$key}--#{$breakpointName}{
				padding-right: $value;
				padding-left: $value;
			}
			@each $sideName, $side in $sides{
				.m-#{$sideName}-#{$key}--#{$breakpointName}{
					margin-#{$side}: $value;
				}
				.p-#{$sideName}-#{$key}--#{$breakpointName}{
					padding-#{$side}: $value;
				}
			}
		}
	}
}
.m-h-a {
	margin-left: auto;
	margin-right: auto;
}


.d-block {
	display: block;
}
.d-inlineblock {
	display: inline-block;
}
.d-flex {
	display: flex;
}
.hide {
	display: none;
}
@each $breakpointName, $breakpoint in $breakpoints {
	@media (min-width: #{$breakpoint}) {
		.d-block--#{$breakpointName} {
			display: block;
		}
		.d-inlineblock--#{$breakpointName} {
			display: inline-block;
		}
		.d-flex--#{$breakpointName} {
			display: flex;
		}
		.hide--#{$breakpointName} {
			display: none;
		}
	}
}

.t-left {
	text-align: left;
}

.t-center {
	text-align: center;
}

.t-trk {
	letter-spacing: 1.25px;
}


html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-fam-sans;
	font-size: $font-size-sm;
	color: color(gray3);
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	margin: 0;
	font-weight: 400;
}
p {
	margin: 0;
}

.line {
	border-top: 1px solid color(gray2);
}

h2 {
	@extend .f-serif;
	@extend .t-trk;
	@extend .gray4;
	@extend .f-sm;
}

ul {
	list-style: none;
    padding-left: 0;
}

li {
	list-style-type: none;
	margin: 0;
}

a {
	outline: none;
	color: inherit;
}

a:hover {
	opacity: 0.8;
}

.container-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: $body-max-width;
}

.container-about__item {
	max-width: 360px;
	align-self: center;
}

@media (min-width: map-get($breakpoints, desktop)) {
	.container-about {
		flex-direction: row;
		align-items: baseline;
	}
	.container-about__item {
		flex-basis: 33%;
		align-self: initial;
	}
}

.headerContainer {
	max-width: 315px;
}

.careerDetails {
	flex-direction: column;
	max-width: 960px;
}
.careerDetails__line {
	max-width: 960px;
}

@media (min-width: map-get($breakpoints, desktop)) {
	.careerDetails {
		flex-direction: row;
		text-align: left;
	}

	.careerDetails__noteworthy {
		order: 2;
		flex-basis: 66%;
	}
	.careerDetails__awards {
		order: 1;
		flex-basis: 33%;
	}
}
